*
  margin: 0
  padding: 0
  text-decoration: none

@media only screen and (min-width: 1020px)
  
  body, html 
    height: 100%
    margin: 0


  header 
    background-image: url('cogs.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    text-align: center

  h1
   position: relative
   color: aquamarine
   top: 3%
   font-size: 3vw
   font-family: 'Acme', sans-serif
    
  img 
    margin: 3%
    height: 20vw
    width: 20vw
    border-radius: 50%
    border: .3vw solid cyan
  span 
    color: cyan

  a 
    color: silver

  .icons
        font-size: 4vw
        display: flexbox


  nav
    margin: 20px
    text-align: center
  p 
    margin: 20px 80px
    text-align: right
    font-size: 2vw
    
  div#initial
    padding: 8%
    background-color: peachpuff
    position: relative
    font-family: 'Acme', sans-serif
  div#languages
    font-size: 4vw

  footer 
    background-image: url('vhoa0.jpg')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    height: 50%


@media only screen and (max-width: 1019)
  header
    margin: 10px
  img 
    margin: 3%
    height: 20vw
    width: 20vw
    border-radius: 50%
    border: .3vw solid cyan