*
  margin: 0
  padding: 0
  text-decoration: none

@keyframes bounce
  0%, 100%
    transform: translateY(0)
  
  50% 
    transform: translateY(-15px)

@-webkit-keyframes bounce
  0%, 100%
    transform: translateY(0)
  
  50% 
    transform: translateY(-15px)

@-ms-keyframes bounce
  0%, 100%
    transform: translateY(0)
  
  50% 
    transform: translateY(-15px)

$colors: orange, gold, greenyellow, lime, aquamarine, aqua, dodgerblue, fuchsia, indigo, darkorchid, darkorange

@keyframes rainbow
  0% 
    color: orange
  10% 
    color: gold
  20% 
    color: greenyellow
  30% 
    color: lime
  40% 
    color: aquamarine
  50% 
    color: aqua
  60% 
    color: dodgerblue
  70% 
    color: fuchsia
  80% 
    color: indigo
  90% 
    color: darkorchid
  100% 
    color: darkorange
  
@keyframes rainbow2
  0% 
    color: greenyellow
  10% 
    color: orange
  20% 
    color: darkorange
  30% 
    color: darkorchid
  40% 
    color: indigo
  50% 
    color: fuchsia
  60% 
    color: aqua
  70% 
    color: dodgerblue
  80% 
    color: aquamarine
  90% 
    color: lime
  100% 
    color: gold

@media only screen and (min-width: 1020px)
  
  body, html 
    height: 100%
    margin: 0

  header 
    background-image: url('cogs.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    text-align: center

  h1
   position: relative
   color: aquamarine
   top: 3%
   font-size: 3vw
   font-family: 'Acme', sans-serif
  h2 
   text-align: center
   font-size: 3vw
   padding: 3%
   
    
  img 
    margin: 3%
    height: 20vw
    width: 20vw
    border-radius: 50%
    border: .3vw solid cyan

  div#paraavatar 
    display: flex
    flex-direction: row


  img#avatar
    border-radius: 0
    border: 0
    height: 18vw
    width: 18vw
    margin: 0
    flex: 1 1 1

  p#firstpara
    flex: 3 3 3
    margin: 0
    margin-left: 2%

  span 
    color: cyan

  span#rainbow
    animation: rainbow 8s infinite
  span#rainbow2
    animation: rainbow2 8s infinite

  a#git
      color: black
  a#linkedin
    color: dodgerblue
  a#dev
    color: black
  a#genassem 
    color: rgb(249, 60, 58)
  a#email
    color: rgb(215, 68, 57)

  .icons
        font-size: 6vw
        display: flexbox
  i
      margin: 3% 
      text-shadow: 1px 1px 2px ivory 
      
  i:hover    
      animation: bounce .4s

  p 
    margin: 20px 80px
    text-align: left
    font-size: 2vw
    
  div#initial
    padding: 8%
    background-color: mintcream
    position: relative
    font-family: 'Acme', sans-serif

  div#languages
    font-size: 4vw
    text-align: center

  div.front-end
    background-color: ivory
    display: grid
    align-content: start
    grid-template-columns: auto auto auto
    animation: 0


    i 
      text-shadow: 1px 1px 2px black
      animation: none

  div.back-end
    background-color: ivory
    display: grid
    align-content: start
    grid-template-columns: auto auto auto
    
    

    i 
      text-shadow: 1px 1px 2px black
      animation: none

  

  footer 
    background-image: url('vhoa0.jpg')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    height: 50%


@media only screen and (max-width: 1019)
  header
    margin: 10px
  img 
    margin: 3%
    height: 20vw
    width: 20vw
    border-radius: 50%
    border: .3vw solid cyan