body{
    text-align: center;
    font-size: 24px;
    background-color: seashell;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 80px;
    margin: 0;
}
p {
    position: relative;
    margin-top: 100px;
    font-weight: bold;
    margin: 150px 250px 10px 250px;
    line-height: 40px;
}

nav{
    position: static;
    justify-content: center;
    top: -1%;
    padding: 2% 0;
    background-color: mediumslateblue;
    margin: -9px;
}
a {
    font-size: 20px;
    /* text-decoration: none; */
    color: black;
    border: 6px mediumaquamarine groove;
    padding: 15px;
}

a#git{
    border: none;
    position: absolute;
    left: 30%;
    color: black;
    font-size: 70px;
    text-shadow:2px 2px 3px dimgrey;
}
a#linkedin {
    border: none;
    position: absolute;
    left: 40%;
    color: #3399ff;
    font-size: 70px;
    text-shadow:2px 2px 4px #000000;
}
a#dev{
    color: black;
    border:none;
    margin: 20px;
    position: absolute;
    left: 49%;
    width:60px;
    text-shadow:2px 2px 4px #000000;
}
a#genassem{
    color: red;
    font-size: 70px;
    border:none;
    position: absolute;
    left: 60%;
    text-shadow:2px 2px 4px #000000;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
a:hover{
animation: bounce 1s;
cursor: alias;
}
a#bagjav:hover{
    cursor: progress;
}