body{
    text-align: center;
    font-size: 24px;
    background-color: seashell;
    font-family: 'Poppins', sans-serif;
}

p {
    /* background-color: rgba(232, 252, 13, 0.338); */
    font-weight: bold;
    margin: 10px 250px;
    line-height: 40px;
}

nav{
    position: static;
    justify-content: center;
    top: -1%;
    padding: 3.3% 0;
    background-color: mediumslateblue;
    margin: -9px;
}
a {
    font-size: 20px;
    /* text-decoration: none; */
    color: black;
    border: 6px mediumaquamarine groove;
    padding: 15px;
}

a#git{
    border: none;
    position: absolute;
    top: -4%;
    left: 0%;
    color: black;
    font-size: 90px;
    text-shadow:2px 2px 3px dimgrey;
}
a#linkedin {
    border: none;
    position: absolute;
    top: -4%;
    right: 0%;
    color: #3399ff;
    font-size: 90px;
    text-shadow:2px 2px 4px #000000;
}
a#dev{
    color: black;
    font-size: 90px;
    border:none;

}
a#genassem{
    color: red;
    font-size: 90px;
    border:none;
}
img{
    font-size: 80px;
}